.RequestsFront{
    display: flex;
    width: 100%;
}

.headerforaccepted{
    width: 100%;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.menu-item img{
    height: 100px;
}

.menu-item header{
    font-size: 20px;
    min-width: 200px;
}

.requestaccept{
    width: 120px;
    height: 30px;
    border: 2px solid green;
    color: green;
    border-radius: 5px;
    cursor: pointer;
}